//containers
$container-app-maxWidth: 87.5rem;
$container-small-maxWidth: 37.5rem;

//sections
$padding-large: 7.75rem;
$padding-medium: 6rem;
$padding-small: 3rem;
$padding-xSmall: 1.5rem;

//margins
$margin-1: 0.75rem;
$margin-2: 1.5rem;
$margin-3: 2.25rem;
$margin-4: 3rem;
$margin-4: 3.75rem;
$margin-5: 4.5rem;
$margin-6: 5.25rem;
$margin-7: 6rem;
$margin-8: 6.75rem;
$margin-9: 7.5rem;
$margin-10: 8.25rem;
