//---- Families
$rokkit: 'Rokkitt', serif;
$muli: 'Muli', sans-serif;

//---- Types

$typeSet:(
  //subheadline
  headline-large:(
    font-family: $rokkit,
    font-size: 2.875rem,
    line-height: 2.875rem,
    letter-spacing: initial,
    font-weight: 700,
    text-transform: none,
    font-size-sm: 2.375rem,
    line-height-sm: 2.5rem,
    font-size-xs: 1.8rem,
    line-height-xs: 2rem,
  ),
  headline-medium:(
    font-family: $rokkit,
    font-size: 2.25rem,
    line-height: 2.5625rem,
    letter-spacing: initial,
    font-weight: 700,
    text-transform: none,
    font-size-sm: 1.75rem,
    line-height-sm: 1.875rem,
    font-size-xs: 1.5rem,
    line-height-xs: 1.675rem,
  ),
  headline-small:(
    font-family: $rokkit,
    font-size: 1.5625rem,
    line-height: 1.875rem,
    letter-spacing: initial,
    font-weight: 700,
    text-transform: none,
    font-size-sm: 1.25rem,
    line-height-sm: 1.35rem,
    font-size-xs: 1rem,
    line-height-xs: 1.35rem,
  ),
  headline-xSmall:(
    font-family: $rokkit,
    font-size: 1.125rem,
    line-height: 1.3125rem,
    letter-spacing: initial,
    font-weight: 700,
    text-transform: none,
    font-size-sm: 1.125rem,
    line-height-sm: 1.3125rem,
    font-size-xs: 1.125rem,
    line-height-xs: 1.3125rem,
  ),
  //subheadline
  subheadline-large:(
    font-family: $muli,
    font-size: 1.125rem,
    line-height: 1.625rem,
    letter-spacing: initial,
    font-weight: 400,
    text-transform: none,
    font-size-sm: 1.125rem,
    line-height-sm: 1.625rem,
    font-size-xs: 1rem,
    line-height-xs: 1.5rem,
  ),
  subheadline-medium:(
    font-family: $muli,
    font-size: 1rem,
    line-height: 1.5rem,
    letter-spacing: initial,
    font-weight: 400,
    text-transform: none,
    font-size-sm: 1rem,
    line-height-sm: 1.5rem,
    font-size-xs: 1rem,
    line-height-xs: 1.5rem,
  ),
  subheadline-small:(
    font-family: $muli,
    font-size: 0.75rem,
    line-height: 1.125rem,
    letter-spacing: initial,
    font-weight: 300,
    text-transform: none,
    font-size-sm: 0.75rem,
    line-height-sm: 1.125rem,
    font-size-xs: 0.75rem,
    line-height-xs: 1.125rem,
  ),
  //text
  text-large:(
    font-family: $muli,
    font-size: 1.125rem,
    line-height: 1.625rem,
    letter-spacing: initial,
    font-weight: 300,
    text-transform: none,
    font-size-sm: 1.125rem,
    line-height-sm: 1.625rem,
    font-size-xs: 0.875rem,
    line-height-xs: 1.625rem,
  ),
  text-medium:(
    font-family: $muli,
    font-size: 1rem,
    line-height: 1.5rem,
    letter-spacing: initial,
    font-weight: 300,
    text-transform: none,
    font-size-sm: 1rem,
    line-height-sm: 1.5rem,
    font-size-xs: 0.875rem,
    line-height-xs: 1.25rem,
  ),
  text-small:(
    font-family: $muli,
    font-size: 1rem,
    line-height: 1rem,
    letter-spacing: initial,
    font-weight: 300,
    text-transform: none,
    font-size-sm: 1rem,
    line-height-sm: 1.25rem,
    font-size-xs: 0.75rem,
    line-height-xs: 1.25rem,
  ),
  text-bold-large:(
    font-family: $muli,
    font-size: 1.25rem,
    line-height: 1.275rem,
    letter-spacing: initial,
    font-weight: 700,
    text-transform: none,
    font-size-sm: 1.125rem,
    line-height-sm: 1.25rem,
    font-size-xs: 0.875rem,
    line-height-xs: 1.25rem,
  ),
  text-bold-medium:(
    font-family: $muli,
    font-size: 1rem,
    line-height: 1.5rem,
    letter-spacing: initial,
    font-weight: 700,
    text-transform: none,
    font-size-sm: 1rem,
    line-height-sm: 1.5rem,
    font-size-xs: 0.875rem,
    line-height-xs: 1.25rem,
  ),
)
