-var data =  $i18n

doctype html
html(lang='en', dir='ltr')
  head
    include ./common/head
  body(id="components")
    .main
      .main__wrapper
        include ./views/components/sections
        include ./views/components/type
        include ./views/components/buttons
        include ./views/components/images
        include ./views/components/icons
        include ./views/components/descriptions
        include ./views/components/lists
        include ./views/components/navbar
        include ./views/components/footer
    include ./common/scripts

      
    
