-var data =  $i18n

doctype html
html(lang='en', dir='ltr')
  head
    include ./common/head
  body(id="home")
    include ./common/navbar
    .main
      .main__wrapper
        include ./views/home/hero
    include ./common/footer
    include ./common/scripts

      
    
