.svg-arrow-next {
	background: url("svg/sprite.css-fa564c21.svg") 96.65314465408804% 39.689922480620154% no-repeat;
}

.svg-arrow-next-dims {
	width: 8px;
	height: 14px;
}

.svg-cap {
	background: url("svg/sprite.css-fa564c21.svg") 0 0 no-repeat;
}

.svg-cap-dims {
	width: 791.803px;
	height: 791.803px;
}

.svg-chapter {
	background: url("svg/sprite.css-fa564c21.svg") 0 99.97512626262626% no-repeat;
}

.svg-chapter-dims {
	width: 512px;
	height: 512px;
}

.svg-cross {
	background: url("svg/sprite.css-fa564c21.svg") 60.721088957055215% 0 no-repeat;
}

.svg-cross-dims {
	width: 612px;
	height: 612px;
}

.svg-employee {
	background: url("svg/sprite.css-fa564c21.svg") 36.46723646723647% 99.97512626262626% no-repeat;
}

.svg-employee-dims {
	width: 512px;
	height: 512px;
}

.svg-list-menu {
	background: url("svg/sprite.css-fa564c21.svg") 89.31970698515774% 53.35217331953679% no-repeat;
}

.svg-list-menu-dims {
	width: 344.339px;
	height: 344.339px;
}

.svg-more {
	background: url("svg/sprite.css-fa564c21.svg") 96.22197686645636% 39.689922480620154% no-repeat;
}

.svg-more-dims {
	width: 14px;
	height: 14px;
}

.svg-paper {
	background: url("svg/sprite.css-fa564c21.svg") 95.4620507399577% 40.25157232704402% no-repeat;
}

.svg-paper-dims {
	width: 24px;
	height: 32px;
}

.svg-puzzle {
	background: url("svg/sprite.css-fa564c21.svg") 99.98596866096865% 0 no-repeat;
}

.svg-puzzle-dims {
	width: 512px;
	height: 512px;
}

.svg-video {
	background: url("svg/sprite.css-fa564c21.svg") 94.08729817007534% 41.091492776886035% no-repeat;
}

.svg-video-dims {
	width: 58px;
	height: 58px;
}

.svg-worker {
	background: url("svg/sprite.css-fa564c21.svg") 86.86899752475247% 85.29272908366534% no-repeat;
}

.svg-worker-dims {
	width: 300px;
	height: 300px;
}

