include ./../../mixins/section
include ./../../mixins/list

-var data = $i18n.COMPONENTS

div(class="component__block component__block__transparent")
  div(class="component__block__title") 
    span List
  +section('small', 'small','small', 'small', 'white')
    div(class="component__block__subtitle") 
      span(class="component__block__subtitle--white") Menu
    +list(data.listMenu, "menu", "black", '12', '12', '12')
